<style>
fieldset {
    border: 0 none;
    margin: 0;
    padding: 0;
}
label.error{
    color: red;
}
</style>

<div class="page-title">
    <div class="container">
        <h1>Apps</h1>
        <ul class="breadcrumb">
            <li><a href="#">Home</a> <span class="divider">/</span></li>
            <li class=""><a href="<%= applications_path %>">Apps</a> <span class="divider">/</span></li>
            <li class="active">Edu App #1</li>
        </ul>
    </div>
</div>

<% if flash[:error] %>
<div class="notice"><%= flash[:error] %></div>
<% end %>

<div class="container">
    <div class="row-fluid app-list">
        <%= form_for @application, :url => applications_path, :remote => false, :html => {:id => 'form_create_app', :class => 'form'} do |f| %>
        <fieldset>

            <h2>Create an application</h2>

            <div class="control-group">
                <label class="control-label">Name</label>
                <div class="controls">
                 <%= text_field_tag 'application[name]', '', maxlength: 32, minlength: 3, class: 'input-xlarge span12 required', placeholder: 'full name' %>

                 <p class="help-block">Your application name. This is used to attribute the source of a tweet and in user-facing authorization screens. 32 characters max.</p>
             </div>
         </div>

         <div class="control-group">
            <label class="control-label">Description</label>
            <div class="controls">
                <%= f.text_area :description, :class => "input-xlarge span12",:maxlength => 200, :rows => "2", :placeholder => "description" %>

                <p class="help-block">Your application description, which will be shown in user-facing authorization screens. Between 10 and 200 characters max</p>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label">Website</label>
            <div class="controls">
                <%= f.text_field(:website, :maxlength => 200, :class => "input-xlarge span12 url", :placeholder => "website") %>

                <p class="help-block">Your application's publicly accessible home page, where users can go to download, make use of, or find out more information about your application. This fully-qualified URL is used in the source attribution for tweets created by your application and will be shown in user-facing authorization screens.</p>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label">Callback URL</label>
            <div class="controls">
                <%= f.text_field(:callback_url, :maxlength => 200, :class => "input-xlarge span12 url", :placeholder => "callback url") %>

                <p class="help-block">Where should we return after successfully authenticating? OAuth 1.0a applications should explicitly specify their oauth_callback URL on the request token step, regardless of the value given here. To restrict your application from using callbacks, leave this field blank.</p>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label">Terms & Condistions</label>
            <div class="controls">
                <div id="tos-box"><p>Last Update: October 22, 2014.</p>
                    <p>This gotoClassroom Developer Agreement (“<strong>Agreement</strong>”) is made between you (either an individual or an entity, referred to herein as “<strong>you</strong>”) and gotoClassroom, Inc., on behalf of itself and its worldwide affiliates (collectively, “<strong>gotoClassroom</strong>”) and governs your access to and use of the Licensed Material (as defined below).</p>
                    <p>PLEASE READ THE TERMS AND CONDITIONS OF THIS AGREEMENT CAREFULLY, INCLUDING WITHOUT LIMITATION ANY LINKED TERMS AND CONDITIONS APPEARING OR REFERENCED BELOW, WHICH ARE HEREBY MADE PART OF THIS LICENSE AGREEMENT. BY USING THE LICENSED MATERIAL, YOU ARE AGREEING THAT YOU HAVE READ, AND THAT YOU AGREE TO COMPLY WITH AND TO BE BOUND BY THE TERMS AND CONDITIONS OF THIS AGREEMENT AND ALL APPLICABLE LAWS AND REGULATIONS IN THEIR ENTIRETY WITHOUT LIMITATION OR QUALIFICATION. IF YOU DO NOT AGREE TO BE BOUND BY THIS AGREEMENT, THEN YOU MAY NOT ACCESS OR OTHERWISE USE THE LICENSED MATERIAL. THIS AGREEMENT IS EFFECTIVE AS OF THE FIRST DATE THAT YOU USE THE LICENSED MATERIAL (“<strong>EFFECTIVE DATE</strong>”).</p>
                    <p>IF YOU ARE AN INDIVIDUAL REPRESENTING AN ENTITY, YOU ACKNOWLEDGE THAT YOU HAVE THE APPROPRIATE AUTHORITY TO ACCEPT THIS AGREEMENT ON BEHALF OF SUCH ENTITY. YOU MAY NOT USE THE LICENSED MATERIAL AND MAY NOT ACCEPT THIS AGREEMENT IF YOU ARE NOT OF LEGAL AGE TO FORM A BINDING CONTRACT WITH gotoClassroom, OR YOU ARE BARRED FROM USING OR RECEIVING THE LICENSED MATERIAL UNDER APPLICABLE LAW.</p>
                    <h2>I. gotoClassroom API and gotoClassroom Content</h2>
                    <p><strong>A. Definitions </strong></p>
                    <ol><ol><li><strong>Content</strong> ‒ Tweets, Tweet IDs, gotoClassroom end user profile information, and any other data and information made available to you through the gotoClassroom API or by any other means authorized by gotoClassroom, and any copies and derivative works thereof.</li>
                    </ol></ol><p></p>
                    <ol><ol><li><strong>Developer Site</strong> ‒ gotoClassroom’s developer site located at <a href="https://dev.gotoclassroom.com" target="_blank">https://dev.gotoClassroom.com.</a></li>
                    </ol></ol><p></p>
                    <ol><ol><li><strong>End Users</strong> ‒ Users of your Services, who are bound to enforceable service terms with you.</li>
                    </ol></ol><p></p>
                    <ol><ol><li><strong>Licensed Material</strong> ‒ A collective term for the gotoClassroom API and Content.</li>
                    </ol></ol><p></p>
                    <ol><ol><li><strong>Services</strong> ‒ Your websites, applications and other offerings that display Content or otherwise use the Licensed Material.</li>
                    </ol></ol><p></p>
                    <ol><ol>
                    </ol></ol><p></p>
                    <p></p>
                    <ol><ol><li><strong>gotoClassroom API</strong> ‒ The gotoClassroom Application Programming Interface (“API”) and the related documentation, data, code, and other materials provided by Twitter with the API, as updated from time to time, including without limitation through the Developer Site.</li>
                    </ol></ol><p></p>
                    <ol type="A"><ol type="A"><li><strong>Miscellaneous.</strong> This Agreement constitutes the entire agreement among the parties with respect to the subject matter and supersedes and merges all prior proposals, understandings and contemporaneous communications. Any modification to this Agreement must be in a writing signed by both you and gotoClassroom. You may not assign any of the rights or obligations granted hereunder, in whole or in part, whether voluntarily or by operation of law, contract, merger (whether you are the surviving or disappearing entity), stock or asset sale, consolidation, dissolution, through government action or otherwise, except with the prior written consent of gotoClassroom. Any attempted assignment in violation of this paragraph is null and void, and gotoClassroom may terminate this Agreement. This Agreement does not create or imply any partnership, agency or joint venture. This Agreement will be governed by and construed in accordance with the laws of the State of California, without regard to or application of conflicts of law rules or principles. All claims arising out of or relating to this Agreement will be brought exclusively in the federal or state courts of San Francisco County, California, USA, and you consent to personal jurisdiction in those courts. Despite the foregoing, you agree that money damages would be an inadequate remedy for gotoClassroom in the event of a breach or threatened breach of a provision of this Agreement protecting gotoClassroom’s intellectual property or Confidential Information, and that in the event of such a breach or threat, gotoClassroom, in addition to any other remedies to which it is entitled, is entitled to such preliminary or injunctive relief (including an order prohibiting Company from taking actions in breach of such provisions), without the need for posting bond, and specific performance as may be appropriate. The parties agree that neither the United Nations Convention on Contracts for the International Sale of Goods, nor the Uniform Computer Information Transaction Act (UCITA) shall apply to this Agreement, regardless of the states in which the parties do business or are incorporated. No waiver by gotoClassroom of any covenant or right under this Agreement will be effective unless memorialized in a writing duly authorized by gotoClassroom. If any part of this Agreement is determined to be invalid or unenforceable by a court of competent jurisdiction, that provision will be enforced to the maximum extent permissible and the remaining provisions of this Agreement will remain in full force and effect.</li>
                    </ol></ol><p></p></div>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">&nbsp;</label>
                <div class="controls">
                    <button type="submit" class="btn btn-info">I agree - Create application</button>
                    <button type="reset" class="btn btn-default">Cancel</button>
                </div>
            </div>
        </fieldset>
        <%= hidden_field_tag(:user_id, "28") %>
        <%end%>
    </div>
</div>