<!DOCTYPE html>
<html>
<head>
	<title>Blog</title>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
	<link href="http://netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.min.css" rel="stylesheet">
	<!-- Google Fonts -->
	<link href='http://fonts.googleapis.com/css?family=Ubuntu:300,400,700&amp;subset=latin,cyrillic-ext,greek-ext,greek,latin-ext,cyrillic' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>

	<script type="text/javascript" src="/assets/fancybox/jquery.fancybox.pack63b9.js?v=2.1.4"></script>
	<script type="text/javascript" src="/assets/fancybox/helpers/jquery.fancybox-buttons3447.js?v=1.0.5"></script>
	<script type="text/javascript" src="/assets/fancybox/helpers/jquery.fancybox-media3447.js?v=1.0.5"></script>
	<script type="text/javascript" src="/assets/fancybox/helpers/jquery.fancybox-thumbsf2ad.js?v=1.0.7"></script>
</head>
<body>
	<!-- Header -->
	<%= render :partial => "/shared/header" %>
	<!-- Header End -->
	<%= yield %>
	<!-- Footer -->
	<%= render :partial => "/shared/footer" %>
	<!-- Footer end -->


</body>
</html>
